[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
noteshrink = {editable = true,git = "https://github.com/mzucker/noteshrink"}

[packages]
tika = "*"
pandas = "*"
xlsxwriter = "*"
xlrd = "*"
fuzzywuzzy = {extras = ["speedup"],version = "*"}
python-levenshtein = "*"
pytesseract = "*"
opencv-python-headless = "*"

[requires]
python_version = "3.7"
